.root {
    -fx-background-color: #2C3E50; /* Dark blue background for the main menu */
    -fx-font-family: 'Arial', sans-serif;
    -fx-padding: 20px;
}

.vbox {
    -fx-spacing: 15px;
    -fx-alignment: center;
}
.label {
    -fx-text-fill: #BDC3C7; /* Light grey color for labels */
    -fx-font-size: 18px;
}

.title {
    -fx-font-size: 24px;
    -fx-text-fill: #ECF0F1; /* Light grey color */
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-alignment: center;
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(20, 81, 140, 0.8), 15, 0.5, 0.0, 0.0);
}

.background-pane {
    -fx-background-image: url('/images/Main%20Menu/backgroundImage.png');
    -fx-background-size: cover;
}
