.root {
    -fx-background-color: #355c7d;
}

.goldRoot {
    -fx-background-color: #F8B195;
}

.label {
    -fx-text-fill: #FFF;
    -fx-label-padding: 8px;
    -fx-font-size: 15px;
    -fx-font-family: "Lucida Console";
}